*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Mono', monospace;
}

.container{
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .container h1{
     font-size: 40px;
     color: coral;
     margin-bottom: 30px;
 }
main{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

 .btns{
     display: flex;
     flex-direction: column;
     padding: 10px;
     margin: 20px;
 }

 #counter{
    border: 1px solid black;
    width: 100%;
    text-align: center;
    font-size: 80px;
    color: gray
 }
  .btn{
      border: 1px solid black;
      width: 200px;
      border-radius: 8px;
      background: none;
      outline: none;
      padding: 10px;
      margin: 20px;
  }

  .btn:active, .btn:hover{
      background: black;
      color: white;
  }

  /* footer */
  #footer{
      text-align: center;
      background-color: rgb(173, 173, 173);
      color: #fff;
      padding: 5px;
  }
  #footer a{
      text-decoration: none;
  }
  .fab{
    margin: 10px;
}
